modid = "hexchanting"
book = "hexcasting:thehexbook"

resource_dirs = [  # top takes priority
    "resources",
    "{$_project.src}/main/resources",
    { path="{$_project.src}/generated/resources", required=false },
    { modid="hexcasting" },
    { modid="minecraft" },
    { modid="hexdoc" },
]
export_dir = "src/hexdoc_hexchanting/_export/generated"

[template]
icon = "{^_project.src}/main/resources/assets/hexchanting/icon.png"
include = [
    "hexchanting",
    "hexcasting",
    "hexdoc",
]

[template.args]
mod_name = "Hexchanting"
author = "arconyx"
show_landing_text = false

[extra.hexcasting]
# regexes for parsing pattern registry files - if some or all of your patterns aren't being detected by hexdoc, this may need to be updated
# NOTE: "!Raw" means "don't apply variable interpolation to this value"
_pattern_regex = { "!Raw" = '(?P<is_per_world>register|registerPerWorld)\("(?P<name>[^"]+)"?,\s"(?P<signature>[qweasd]+)",\sHexDir\.(?P<startdir>\w+)' }
_per_world_value = "registerPerWorld"

[[extra.hexcasting.pattern_stubs]]
path = "{$_project.src}/main/kotlin/gay/thehivemind/hexchanting/casting/HexchantingPatterns.kt"
regex = "{^_pattern_regex}"

# source paths

[_project]
src = "../src"
